@import "./scss/variables";
@import "./scss/account-pages";
@import "./scss/homePage.scss";
@import "./scss/masterLayout.scss";
@import "./scss/listJobOfApplicant";
@import "./scss/listJobOfRecruiter";
@import "./scss/jobForm";
@import "./scss/adminMasterLayout";
@import "./scss/userManagement";
