.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 22px;
  background-color: none;
  justify-content: space-between;
  z-index: 99;
  line-height: 1.2;
  height: 100%;
  .menu {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    .logo {
      color: white;
      line-height: 1.2;
      margin: 0;
      padding: 7px;
      margin-right: 30px;
      display: flex;
      align-items: center;
      gap: 4px;
      img {
        height: 40px;
        filter: brightness(4);
      }
      span {
        font-size: 20px;
      }
    }
    .menuIcon {
      padding: 10px;
      border: none;
      height: 50px;
      background-color: rgba($color: #000000, $alpha: 0);
      color: white;
      font-weight: 600;
      font-size: 16px;
      &.active-item {
        color: #ef6526;
      }
      &:hover {
        color: #ef6526;
      }
    }
  }
  .navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    div {
      div {
        cursor: pointer;
        height: 50px;
        display: flex;
        align-items: center;
        img {
          padding: 10px;
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
    }
    h4 {
      color: white;
      text-decoration: underline;
    }
    .navIconLogin {
      font-weight: 600;
      width: 120px;
      background-color: white;
      color: rgb(185, 108, 140);
      text-align: center;
      // color: rgb(158, 78, 38);
      // border: 1px solid rgb(158, 78, 38);
      border: 1px solid white;
      padding: 10px;
      border-radius: 5px;
    }
    .navIconRegister {
      font-weight: 600;
      width: 120px;
      background-color: rgb(185, 108, 140);
      // background-color: rgb(215, 160, 133);
      color: white;
      text-align: center;
      border: none;
      padding: 10px;
      border-radius: 5px;
    }
    .navIconPublishedRecruitment {
      font-weight: 600;
      width: 220px;
      background-color: rgb(63, 50, 111);
      color: white;
      text-align: center;
      border: none;
      padding: 10px;
      border-radius: 5px;
    }
  }
}
div {
  div {
    ul {
      .settings {
        font-weight: 600;
        border: none;
        border-radius: 5px;
      }
      .logout {
        font-weight: 600;
        border: none;
        border-radius: 5px;
      }
    }
  }
}
.profileMenu {
  display: flex;
  gap: 10px;
  width: 200px;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  img {
    width: 30px;
    height: 30px;
    border-radius: 999px;
  }
}

.side-filter {
  margin: 12px;
  position: relative;
  top: 100px;
  background-color: none;
  height: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .clear-filter-button {
    border: none;
    background-color: rgba(22, 119, 255, 0.7);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 1em;
  }
  p {
    margin: 0;
    color: black;
    font-size: 14px;
    font-weight: 400;
  }
}
.search-bar {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  border-bottom: 1px solid rgb(185, 108, 140);
  margin-bottom: 10px;
  .search-bar-form {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    .search-bar-wrapper {
      min-width: 300px;
      height: 48px;
      background-color: white;
      flex: 1 0 40%;
      display: flex;
      align-items: center;
      gap: 0.5em;
      font-size: 1.1em;
      padding: 0.5em;
      border-radius: 4px;
      input,
      select {
        border: none;
        color: rgba(128, 128, 128, 1);
        flex-grow: 1;
        appearance: none;
        &::placeholder {
          color: rgba(128, 128, 128, 0.3);
          font-size: 0.9em;
        }
        &:focus {
          outline: none;
        }
      }
      option {
        background-color: whitesmoke;
        padding: 4px;
      }
    }
    .search-bar-submit-button {
      border: none;
      background-color: rgb(185, 108, 140);
      color: white;
      padding: 0.5em;
      border-radius: 4px;
      font-size: 1.2em;
      font-weight: 500;
    }

    .text-form {
      color: rgb(185, 108, 140);
    }
  }
  .job-quantity {
    display: block;
    width: fit-content;
    color: rgb(53, 67, 140);
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: fit-content;
  width: 80%;
  .list {
    .job {
      position: relative;
      display: flex;
      gap: 40px;
      height: fit-content;
      width: 100%;
      padding: 10px;
      border-radius: 20px;
      border: 1px solid #d7977a;
      background-color: white;
      cursor: pointer;
      overflow: hidden;

      .logo {
        flex: 0 0 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: auto;
          width: 150px;
        }
      }

      .job-info {
        flex: 1 1 auto;
        display: grid;
        justify-content: space-between;
        gap: 4px;
        h5 {
          font-size: 16px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
        }
        h6 {
          font-size: 16px;
          color: gray;
          margin: 0;
          span {
            color: #d7977a;
          }
        }
        div {
          display: flex;
          gap: 4px;
          p {
            display: flex;
            align-items: center;
            margin: 0 8px 0 0;
            padding: 0px 8px;
            height: 24px;
            gap: 4px;
            border-radius: 4px;
            font-size: 16px;
            color: gray;
            background-color: #e9eaec;
            span {
              margin: 0;
              line-height: 1;
              font-size: 12px;
              font-weight: 400;
              color: gray;
            }
          }
        }
      }

      .added-infor {
        height: 100%;
        align-self: end;
        display: flex;
        flex-direction: column;
        p {
          margin: 0;
          font-size: 12px;
          color: gray;
          padding: 4px;
        }
      }

      .hover-info {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(-14px, -50%);
        border: 1px solid #d7977a;
        background-color: #d7977a;
        color: white;
        padding: 4px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        p {
          margin: 0;
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }

      &:hover {
        background-color: rgb(243, 245, 247);
        box-shadow: rgba(215, 151, 122, 0.5) 0px 2px 8px 0px;
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}

.notification-container {
  position: relative;
  width: 20px;

  .notification {
    position: absolute;
    right: -8px;
    top: 8px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
  }
}
.notification-title {
  border-bottom: 1px solid gray;
  padding: 8px;
  font-weight: 500;
}

.notification-tag-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  cursor: pointer;
  p {
    font-weight: 400;
  }
  .notification-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0px;
      font-weight: 400;
      color: gray;
      font-style: italic;
    }
    button {
      color: rgb(69, 155, 178);
      font-style: italic;
    }
  }
  &:hover {
    background-color: rgb(243, 245, 247);
    p {
      color: rgb(69, 155, 178);
    }
  }
}
