.listJobRecruiter{
    display: grid;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
   .list{
    display: grid;
    gap: 10px;
    width: 700px;
    margin-left: -180px;
    .topic{
        display: flex;
        border-bottom: 1px solid #d25e27;
       p{
        text-align: left;
        width: 100%;
        padding: 10px;
        font-size: 20px; 
        color: blue;      
        font-weight: 600;
       }
       a{
        color: blue;
        font-weight: 600;
        text-align: center;
        width: 150px;
        height: fit-content;
        padding: 10px;
        border: none;
        background-color: white;
        border-radius: 10px;
       }
    }
       .content{
           display: flex;
           justify-content: center;
           gap: 30px;
           height: fit-content;
           .Job{
               display: grid;
               justify-content: center;
               .jobIcon{
                display: grid;
                gap: 10px;
                margin-bottom: 20px;
                   div{
                       div{
                           div{
                               ul{
                                   display: grid;
                                   gap: 10px;
                               }
                           }
                       }
                   }
                   .job{
                       display: flex;
                       gap: 40px;
                       height: fit-content;
                       padding: 10px;
                       border-radius: 20px;
                       border: 1px solid #d7977a;
                       background-color: white;
                       img{
                           width: 200px;
                           height: 150px;
                           border-radius: 10px;
                       }
                       div{
                           display: grid;
                           gap: 20px;
                           height: 120px;
                           div{
                            height: fit-content;
                            display: flex;
                            justify-content: space-between ;
                            button{
                                background-color: rgb(91, 91, 228);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: white
                            }
                           
                           }
                           .informationJob{
                            width: fit-content;
                             display: flex;
                             gap: 10px;
                             p{
                              width: 180px;
                              height: fit-content;
                              display: flex;
                              gap: 2px;
                              align-items: center;
                              background-color: rgb(245, 226, 226);
                              padding: 5px;
                              border-radius: 5px;
                              span{
                                  font-size: 15px;
                                  font-weight: 600;
                                  color: rgb(72, 34, 153);
                              }
                          }
                         }
                       }
                   }
               }
           }
       }
   }
}
div{
    ul{
        padding: 10px;
        display: grid;
        gap: 10px;
        .delete{
           width: 100px;
           height: fit-content;
           border: none;
           background-color: rgb(177, 134, 134);
           color: white;
           font-weight: 500;
           padding: 5px;
           border-radius: 10px;
       }
       .update{
           width: 100px;
           height: fit-content;
           border: none;
           background-color: rgb(0, 0, 0);
           color: white;
           font-weight: 500;
           padding: 5px;
           border-radius: 10px;
       }
    }
}