.master-layout {
  min-height: 100vh;
  height: fit-content;
  .master-layout-header {
    background-image: url(../images/backgrounds/headerbg.png);
    background-position: center;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 9;
    padding: 0;
  }
  .master-layout-main-content-container {
    background-image: url(../images/backgrounds/layoutbg.png);
    background-position: center;
    background-size: cover;

    .master-layout-leftside {
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 8;
      position: relative;
      .collapse-btn {
        position: absolute;
        top: 100px;
        right: 0px;
        transform: translateX(100%);
        text-align: center;
        z-index: 9;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 28px;
        font-weight: 800;
      }
    }

    .master-layout-main-content {
      position: relative;
      z-index: 1;
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 0px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(136, 136, 136, 0.8);
        border-radius: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: #f0f0f0;
      }
    }
  }
  .master-layout-footer {
    z-index: 99;
    width: 100%;
    background-image: url(../images/backgrounds/headerbg.png);
    background-position: center;
    background-size: cover;
    padding: 0;
  }
}
.footer {
  background-color: rgb(66, 91, 117);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../images//backgrounds//footergb.png);
  background-repeat: no-repeat;
  background-position: center;
  .info {
    padding: 12px;
    flex: 1 0 300px;
    .logo {
      display: flex;
      gap: 8px;
      align-items: center;
      img {
        height: 40px;
      }
      span {
        font-size: 16px;
        font-weight: 600;
      }
    }
    a {
      color: rgba(255, 255, 255, 0.5);
    }
    .title {
      height: 40px;
      display: flex;
      align-items: center;
      h1 {
        color: white;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}

body {
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.8);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0px !important;
  }
}
